<div class="container">
  <h1 class="text-center my-4">Nuestras Recetas</h1>
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="AlergenoSelect">Alergenos:</label>
        </div>
        <select class="custom-select" id="AlergenoSelect" (change)="onFilterChange($event)">
          <option value="all" selected>Elige uno...</option>
          <option value="lactosa">Lactosa</option>
          <option value="verdura">Verdura</option>
          <option value="huevo">Huevo</option>
          <option value="trigo">Trigo</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let recipe of recipes">
      <div class="card mb-4" id="cardPrincipal" (click)="redirectToOnlyRecipe(recipe.id)">
        <img [src]="recipe.imagen" class="card-img-top" alt="{{ recipe.nombre }}" />
        <div class="card-body">
          <h5 class="card-title">{{ recipe.nombre }}</h5>
          <p class="card-text">{{ recipe.restaurante }}</p>
        </div>
      </div>
    </div>
  </div>
</div>