<div class="row justify-content-start">
  <div class="col">
    <button class="link-button-warning btn btn-warning" [routerLink]="['/']" routerLinkActive="router-link-active"
      align="center" role="button">
      <i class="bi bi-arrow-left"></i>
      Home Page
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="main shadow-lg p-3 mb-5 bg-white rounded">
      <p class="sign text-warning" align="center">Acceder</p>
      <form class="form1">
        <input class="un form-control border-warning" type="text" align="center" placeholder="Nombre de usuario"
          name="username" [(ngModel)]="username" />
        <input class="pass form-control border-warning" type="password" align="center" placeholder="Contraseña"
          name="password" [(ngModel)]="password" />
        <a class="text-black btn btn-warning" align="center" (click)="login()">Log in</a>
        <p class="forgot" align="center">
          <a class="text-black" routerLink="/auth/register">¿No tienes cuenta?</a>
        </p>
      </form>
    </div>
  </div>
</div>