<div class="container mt-4 text-center">
  <h2>Crear Receta</h2>
  <form (ngSubmit)="create()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="nombreReceta"
            name="name"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ingredientes">Ingredientes (separar por comas)</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="ingredientes"
              [(ngModel)]="ingredientes"
              name="ingredientes"
              required
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="imagen">Imagen (url de Internet)</label>
          <input
            type="text"
            class="form-control"
            id="imagen"
            [(ngModel)]="imagenReceta"
            name="imagen"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="preparacion"
            >Preparación (separar los pasos por puntos)</label
          >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="preparacion"
              [(ngModel)]="preparacion"
              name="preparacion"
              required
            />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="alergenos">Alérgenos</label>
          <select
            class="form-control"
            [(ngModel)]="selectedAlergenos"
            multiple
            name="alergenos"
            id="alergenos"
          >
            <option *ngFor="let alergeno of alergenos" [ngValue]="alergeno.id">
              {{ alergeno.nombre }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center m-3">
      <button
        type="button"
        class="btn btn-secondary m-2"
        onclick="history.back(-1)"
      >
        Volver
      </button>
      <button type="submit" class="btn btn-primary m-2">Crear</button>
    </div>
  </form>
  <div *ngIf="success" class="alert alert-success mt-3">
    Creación de receta completada. Redirigiendo a Recetas...
  </div>
  <div *ngIf="failed" class="alert alert-danger mt-3">
    No se ha podido crear la receta
  </div>
  <div *ngIf="itExists" class="alert alert-danger mt-3">
    Ya existe esa receta
  </div>
</div>
