<div class="container">
  <h1 class="text-center my-4">Nuestros Platos</h1>
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="tipoComidaSelect"
            >Filtrar por:</label
          >
        </div>
        <select
          class="custom-select"
          id="tipoComidaSelect"
          (change)="onFilterChange($event)"
        >
          <option value="all" selected>Elige uno...</option>
          <option value="entrante">Entrantes</option>
          <option value="segundo">Segundo</option>
          <option value="postre">Postres</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let comida of comidas">
      <div
        class="card mb-4"
        id="cardPrincipal"
        (click)="redirectToOnlyProduct(comida.id)"
      >
        <img
          [src]="comida.imagen"
          class="card-img-top"
          alt="{{ comida.nombreProducto }}"
        />

        <div class="card-body">
          <h5 class="card-title">{{ comida.nombreProducto }}</h5>
          <p class="card-text">{{ comida.descripcion }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
