<div class="container mt-4 text-center">
  <h2>Crear Plato</h2>
  <form (ngSubmit)="create()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="nombreComida"
            name="name"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="descripcion"
              [(ngModel)]="descripcionComida"
              name="descripcion"
              required
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="imagen">Imagen (url de Internet)</label>
          <input
            type="text"
            class="form-control"
            id="imagen"
            [(ngModel)]="imagenComida"
            name="imagen"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="precio">Precio</label>
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              id="precio"
              [(ngModel)]="precio"
              name="precio"
              required
            />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="categoria">Categoria</label>
          <select
            class="input-group"
            [(ngModel)]="idCategoria"
            name="idCategoria"
            id="idCategoria"
            required
          >
            <option
              *ngFor="let categoria of categorias"
              [ngValue]="categoria.id"
            >
              {{ categoria.nombre }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center m-3">
      <button
        type="button"
        class="btn btn-secondary m-2"
        onclick="history.back(-1)"
      >
        Volver
      </button>
      <button type="submit" class="btn btn-primary m-2">Crear</button>
    </div>
  </form>
  <div *ngIf="success" class="alert alert-success mt-3">
    Creación de plato completada. Redirigiendo a Platos...
  </div>
  <div *ngIf="failed" class="alert alert-danger mt-3">
    No se ha podido crear el plato (la Url es de la propia imagen, no del sitio
    web)
  </div>
  <div *ngIf="itExists" class="alert alert-danger mt-3">
    Ya existe ese plato
  </div>
</div>
