<div class="container">
  <div class="card mt-4">
    <div class="card-header text-center">
      <h2>Carrito de Compras</h2>
    </div>
    <div class="card-body">
      <div *ngIf="items.length === 0" class="alert alert-warning">
        El carrito está vacío
      </div>
      <div *ngIf="items.length > 0">
        <div *ngFor="let item of items" class="row mb-3">
          <div class="col-2">
            <img
              [src]="item.imagen"
              alt="{{ item.nombre }}"
              class="img-fluid"
            />
          </div>
          <div class="col-4">
            <h4>{{ item.nombre }}</h4>
            <p>{{ item.restaurante }}</p>
          </div>
          <div class="col-2">
            <p>
              <strong>Cantidad: {{ item.cantidad }}</strong>
            </p>
          </div>
          <div class="col-2">
            <p>
              <strong>Precio: {{ item.precio }}€</strong>
            </p>
          </div>
          <div class="col-2 text-end">
            <button class="btn btn-danger" (click)="removeFromCart(item.id)">
              Eliminar
            </button>
            <!-- Botón para ajustar la cantidad -->
            <button
              type="button"
              class="btn btn-warning btn-sm"
              (click)="openQuantityModal(item)"
            >
              Ajustar Cantidad
            </button>
          </div>
        </div>
        <div class="row border-top">
          <div class="col">
            <button class="btn btn-warning" (click)="clearCart()">
              Borrar Todo
            </button>
          </div>
          <div class="col">
            <button class="btn btn-success" (click)="checkout()">Pagar</button>
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <h4>Total: {{ total }}€</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-cart-quantity-modal
  [currentQuantity]="selectedItem?.cantidad"
  (quantityChange)="updateItemQuantity($event)"
>
</app-cart-quantity-modal>
