<div class="container mt-4">
  <h2>Comentarios</h2>
  <div *ngFor="let comment of comments; let i = index" class="card my-3">
    <div class="card-body">
      <div class="header d-flex justify-content-between">
        <h5>
          {{ users[i].name }}
        </h5>
        <div class="estrellas">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let idx = index">
            <i
              class="bi bi-star-fill"
              [ngClass]="{
                'text-warning': idx < comment.calificacion,
                'text-secondary': idx >= comment.calificacion
              }"
            ></i>
          </ng-container>
        </div>
      </div>
      <p class="card-text">{{ comment.comentario }}</p>
    </div>
  </div>
  <button class="btn btn-secondary" (click)="goBack()">Volver</button>
</div>
