<footer class="text-center text-lg-start border border-2 m-2">
  <section class="d-flex justify-content-center border-bottom text-bg-warning">
    <div class="p-3">
      <h2>CONTÁCTANOS</h2>
    </div>
  </section>

  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row justify-content-between">
        <!-- Compañía -->
        <div class="col-sm-6 col-md-3 col-xl-3 mb-4 text-center">
          <h6 class="text-uppercase fw-bold mb-4">Compañía</h6>
          <p>Para cualquier pregunta, no dude en contactarnos</p>
        </div>
        <!-- Tecnologías -->
        <div class="col-sm-6 col-md-3 col-xl-2 mb-4 text-center">
          <h6 class="text-uppercase fw-bold mb-4">Tecnologías</h6>
          <p><a href="https://angular.io/" class="text-reset">Angular</a></p>
          <p>
            <a href="https://getbootstrap.com/" class="text-reset">Bootstrap</a>
          </p>
          <p><a href="https://laravel.com/" class="text-reset">Laravel</a></p>
          <p><a href="https://chatgpt.com/" class="text-reset">ChatGPT</a></p>
        </div>
        <!-- Enlaces útiles -->
        <div class="col-sm-6 col-md-3 col-xl-2 mb-4 text-center">
          <h6 class="text-uppercase fw-bold mb-4">Páginas</h6>
          <p>
            <a
              [routerLink]="['/']"
              routerLinkActive="router-link-active"
              class="text-reset"
              >Home</a
            >
          </p>
          <p>
            <a
              [routerLink]="['/restaurant/products']"
              routerLinkActive="router-link-active"
              class="text-reset"
              >Productos</a
            >
          </p>
          <p>
            <a
              [routerLink]="['/restaurant/recipes']"
              routerLinkActive="router-link-active"
              class="text-reset"
              >Recetas</a
            >
          </p>
          <p>
            <a
              [routerLink]="['/restaurant/cart']"
              routerLinkActive="router-link-active"
              class="text-reset"
              >Carrito</a
            >
          </p>
        </div>
        <!-- Contacto -->
        <div class="col-sm-6 col-md-3 col-xl-3 mb-4 text-center">
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p>Navalmoral de la Mata</p>
          <p>Cáceres, España</p>
          <p>resmoralo&#64;gmail.com</p>
          <p>+34 640 127 33</p>
        </div>
      </div>
    </div>
  </section>
</footer>
