<nav
  class="navbar navbar-expand-lg fs-4 sticky-top"
  [ngClass]="{ 'bg-dark': isLightTheme, 'bg-light': !isLightTheme }"
>
  <div class="container-fluid">
    <div class="d-flex">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        [ngClass]="{ 'bg-dark': !isLightTheme, 'bg-light': isLightTheme }"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand ms-2 fs-3 text-warning">
        {{ currentRouteTitle }}
        <span *ngIf="currentId">{{ currentId }}</span>
      </a>
      <div
        class="vr d-none d-lg-block"
        [ngClass]="{ 'bg-dark': !isLightTheme, 'bg-light': isLightTheme }"
      ></div>
    </div>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav primary me-auto mb-2 mb-md-0">
        <ng-container
          *ngFor="let row of groupItems(sidebarItems, 2); let rowIndex = index"
        >
          <div class="row g-0" *ngIf="row.length > 0">
            <div *ngFor="let item of row" class="col-12 col-sm-6">
              <li
                class="nav-item d-flex justify-content-center align-items-center"
              >
                <a
                  [routerLink]="[item.url]"
                  class="nav-link text-center d-flex align-items-center"
                  [ngClass]="{
                    'text-dark': !isLightTheme,
                    'text-light': isLightTheme
                  }"
                  (click)="collapse('navbarContent', rowIndex)"
                >
                  {{ item.label }}
                  <span
                    *ngIf="item.label === 'Carrito' && currentUser"
                    class="badge bg-danger ms-1"
                  >
                    {{ cartItemCount }}
                  </span>
                </a>
              </li>
            </div>
          </div>
        </ng-container>
      </ul>

      <!-- User info and dark mode toggle -->
      <div class="d-flex align-items-center">
        <div
          class="d-inline-block d-md-flex align-items-center me-3"
          *ngIf="currentUser"
        >
          <span class="navbar-text me-3 text-warning"
            ><i class="bi bi-person"></i>{{ currentUser.name }}</span
          >

          <button
            class="btn btn-outline-danger"
            data-bs-toggle="modal"
            data-bs-target="#logout"
          >
            Logout
          </button>
        </div>
        <div
          class="d-inline-block d-md-flex align-items-center me-3"
          *ngIf="!currentUser"
        >
          <button
            class="btn btn-outline-warning"
            [routerLink]="['/auth/login']"
          >
            Login
          </button>
        </div>
        <div
          class="d-inline-block float-end form-check form-switch ms-auto p-0 mb-0"
        >
          <input
            class="form-check-input"
            type="checkbox"
            id="darkmode-toggle"
            (change)="changeColor()"
          />
          <label class="form-check-label" for="darkmode-toggle"></label>
        </div>
      </div>
    </div>
  </div>
</nav>
<app-logout-modal></app-logout-modal>
<router-outlet [attr.data-bs-theme]="themeService.getTheme()"></router-outlet>
<app-footer></app-footer>
<app-spinner></app-spinner>
