<div class="container">
  <main class="d-flex justify-content-center align-items-center p-4">
    <div class="card w-75 p-3">
      <header class="text-center">
        <h1 class="display-4">{{ nombreReceta }}</h1>
      </header>
      <div
        class="d-flex flex-column flex-lg-row justify-content-between card-content"
      >
        <div>
          <div class="ingredients">
            <h2 class="h6 mt-3">Ingredientes</h2>
            <ul class="list-unstyled">
              <li *ngFor="let ingrediente of ingredientesReceta">
                {{ ingrediente }}
              </li>
            </ul>
          </div>
          <div class="description">
            <h2 class="h6 mt-3">Descripción de la Preparación</h2>
            <ul class="list-unstyled">
              <li *ngFor="let cocina of preparacionReceta">{{ cocina }}</li>
            </ul>
          </div>
        </div>
        <div class="recipe-image d-flex justify-content-center">
          <img
            [src]="imagenReceta"
            alt="Imagen de la receta"
            class="img-fluid"
          />
        </div>
      </div>
      <hr />
      <div class="d-flex justify-content-between mt-4">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="history.back(-1)"
        >
          Volver
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="window.location.href='https://otra-pagina.com'"
        >
          Ir a otra página
        </button>
      </div>
    </div>
  </main>
</div>
