.card {
  background-color: #222;
  border: none;
}

.recipe-image img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .card-content {
    flex-wrap: nowrap;
  }

  .card-content > div {
    flex: 1 1 auto;
    text-align: left;
  }

  .recipe-image {
    margin-left: 2rem;
    margin-top: 0;
  }
}

@media (max-width: 992px) {
  .recipe-image {
    margin-top: 2rem;
  }
}

::ng-deep [data-bs-theme="dark"] .card {
  background-color: #ececec;
}

::ng-deep [data-bs-theme="dark"] h1,
::ng-deep [data-bs-theme="dark"] h2,
::ng-deep [data-bs-theme="dark"] h3,
::ng-deep [data-bs-theme="dark"] p {
  color: #424242 !important;
}
footer {
  background-color: #f8f8f8;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
}
footer div {
  width: 30%;
}
footer h3 {
  margin-top: 0;
}
