<div class="container-fluid p-0">
  <div class="imagenx imagen1 justify-content-center d-flex">
    <h1 class="align-self-center tituloP">RESTAURANTE MORALO</h1>
  </div>

  <div class="p-3 bg-warning text-dark text-center">
    <h2>¿POR QUÉ NOSOTROS?</h2>
  </div>

  <div class="imagenx imagen2">
    <div class="cajasRandom">
      <div class="row" id="caja">
        <div class="col-12 col-lg-4 bordeLetras border-black border-1 border d-flex">
          <h5 class="text-center text-white  align-self-center">
            El primer Restaurante sin establecimiento físico, todo lo hacemos online.
          </h5>
        </div>
        <div class="col-12 col-lg-4 bordeLetras border-black border-1 border d-flex">
          <h5 class="text-center text-white  align-self-center">
            ¿Estás cansado, tienes hambre y no quieres salir de casa? Somos tu restaurante.
          </h5>
        </div>
        <div class="col-12 col-lg-4 bordeLetras border-black border-1 border d-flex">
          <h5 class="text-center text-white  align-self-center">
            Si te gusta nuestra comida, déjanos tu opinión.
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3 bg-warning text-dark text-center">
    <h2>UN POCO DE NOSOTROS</h2>
  </div>

  <div class="imagenx imagen3">
    <div class="d-flex justify-content-center">
      <div class="cajasRandom align-self-center border-black border-1 border">
        <div class="bordeLetras text-white ps-3 pe-3 text-center row">

          <h5 class="col-12  mb-3">Nuestro restaurante surgió de la necesidad de no crear
            establecimientos físicos
            como alguna
            otra
            franquicia y
            así no llenar establecimientos con colas de gente, parkings, etc...</h5>
          <h5 class="col-12  text-center mb-3">Tenemos cocinas ocultas repartidas por todo el mundo de las
            cuales
            salen nuestros repartidores a llevaros la
            comida.</h5>
          <h5 class="col-12  text-center mb-3"> Nuestras comidas no llevan químicos, por lo que podéis
            disfrutar del
            mejor sabor al natural.</h5>
          <h5 class="col-12  text-center mb-3">Y lo mejor de todo, podéis pagar online o en efectivo.</h5>
          <h5 class="col-12  text-center mb-3"> Pide y disfruta.</h5>

        </div>
      </div>
    </div>
  </div>

  <div class="p-3 bg-warning text-dark text-center">
    <h2>NUESTRA ESPECIALIDAD</h2>
  </div>

  <div class="imagenx imagen4">
    <div class="d-flex justify-content-center">
      <div class="cajasRandom align-self-center border-black border-1 border">
        <div class="bordeLetras text-white ps-3 pe-3">
          <h5 class="text-center">Nosotros nos especializamos en cualquier tipo de comida internacional. Lo que pidas lo
            tendremos con
            opción de
            modificar los ingredientes al gusto del cliente.</h5>
        </div>
      </div>
    </div>
  </div>

  <footer class="text-center text-lg-start text-muted">
    <section class="d-flex justify-content-center border-bottom">
      <div class="p-1 bg-white text-dark">
        <h2>CONTÁCTANOS</h2>
      </div>
    </section>

    <section>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Compañía</h6>
            <p>
              Para cualquier pregunta , no dude en contactarnos
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Productos</h6>
            <p><a href="#!" class="text-reset">Angular</a></p>
            <p><a href="#!" class="text-reset">React</a></p>
            <p><a href="#!" class="text-reset">Vue</a></p>
            <p><a href="#!" class="text-reset">Laravel</a></p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Enlaces útiles</h6>
            <p><a href="#!" class="text-reset">Home</a></p>
            <p><a href="#!" class="text-reset">Prodcutos</a></p>
            <p><a href="#!" class="text-reset">Recetas</a></p>
            <p><a href="#!" class="text-reset">Carrito</a></p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fa fa-home me-3"></i> Navalmoral de la mata</p>
            <p><i class="fa fa-envelope me-3"></i> Cáceres, España</p>
            <p><i class="fa fa-phone me-3"></i> resmoralo&#64;gmail.com</p>
            <p><i class="fa fa-print me-3"></i> + 34 640 127 33</p>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>