<div class="container-fluid p-0">
  <div class="imagenx imagen1 justify-content-center d-flex">
    <h1 class="align-self-center tituloP">RESTAURANTE MORALO</h1>
  </div>

  <div class="p-3 bg-warning text-dark text-center">
    <h2>¿POR QUÉ NOSOTROS?</h2>
  </div>

  <div class="imagenx imagen2">
    <div class="cajasRandom">
      <div class="row" id="caja">
        <div
          class="col-12 col-lg-4 bordeLetras border-black border-1 border d-flex"
        >
          <h5 class="text-center text-white align-self-center">
            El primer Restaurante sin establecimiento físico, todo lo hacemos
            online.
          </h5>
        </div>
        <div
          class="col-12 col-lg-4 bordeLetras border-black border-1 border d-flex"
        >
          <h5 class="text-center text-white align-self-center">
            ¿Estás cansado, tienes hambre y no quieres salir de casa? Somos tu
            restaurante.
          </h5>
        </div>
        <div
          class="col-12 col-lg-4 bordeLetras border-black border-1 border d-flex"
        >
          <h5 class="text-center text-white align-self-center">
            Si te gusta nuestra comida, déjanos tu opinión.
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3 bg-warning text-dark text-center">
    <h2>UN POCO DE NOSOTROS</h2>
  </div>

  <div class="imagenx imagen3">
    <div class="d-flex justify-content-center">
      <div class="cajasRandom align-self-center border-black border-1 border">
        <div class="bordeLetras text-white ps-3 pe-3 text-center row">
          <h5 class="col-12 mb-3">
            Nuestro restaurante surgió de la necesidad de no crear
            establecimientos físicos como alguna otra franquicia y así no llenar
            establecimientos con colas de gente, parkings, etc...
          </h5>
          <h5 class="col-12 text-center mb-3">
            Tenemos cocinas ocultas repartidas por todo el mundo de las cuales
            salen nuestros repartidores a llevaros la comida.
          </h5>
          <h5 class="col-12 text-center mb-3">
            Nuestras comidas no llevan químicos, por lo que podéis disfrutar del
            mejor sabor al natural.
          </h5>
          <h5 class="col-12 text-center mb-3">
            Y lo mejor de todo, podéis pagar online o en efectivo.
          </h5>
          <h5 class="col-12 text-center mb-3">Pide y disfruta.</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3 bg-warning text-dark text-center">
    <h2>NUESTRA ESPECIALIDAD</h2>
  </div>

  <div class="imagenx imagen4">
    <div class="d-flex justify-content-center">
      <div class="cajasRandom align-self-center border-black border-1 border">
        <div class="bordeLetras text-white ps-3 pe-3">
          <h5 class="text-center">
            Nosotros nos especializamos en cualquier tipo de comida
            internacional. Lo que pidas lo tendremos con opción de modificar los
            ingredientes al gusto del cliente.
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
